@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,400&display=swap');

* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body{
	background-color: #392156;
	font-family: 'Nunito', sans-serif;
	color: #EAE0CC;
	font-weight: 500;
	height:100vh;
	
}
.header{
	background-color: #5D2784;
}
.section{
	min-height: 86vh;
}
.container {
	width: 100%;
	max-width: 1161px;
	margin: 0 auto;
}
.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	font-style: italic;
	
}
.header-logo-img{
	max-width: 150px;
}	

.left_side{
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	min-width: 30%;
}
.form{
	display: flex;
	flex-direction: column;
}
.left_side-input{
	background-color: #EAE0CC;
	padding: 0.5rem 1rem;
	font-size: 18px;
	border-radius: 10px;
	margin: 0.5rem 0;
	transition: all 0.5s ease-in-out;

}
.form-parameters{
	width: 100%;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}
.parameter-input{
	min-width: 48%;
}

.left_side-input:focus{
	box-shadow: 0px 0px 15px 7px #5D2784;
}

.left_side label{
	background-color: #D1B2E0;
	text-align: center;
	color: #fff;
	
	cursor: pointer;
	transition: all 0.5s ease-in-out;

}
.left_side label:hover{
	background-color: #000;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.left_side-button{
	background-color: #ffffff;
	padding: 0.5rem 1rem;
	font-size: 18px;
	color:#5D2784;
	border-radius: 10px;
	margin: 0.5rem 0;
	transition: all 0.5s ease-in-out;
}
.left_side-button:hover{
	background-color: aquamarine;
	
}
label p{
	padding: .3rem 1rem;
}

.left_side-input-file{
	visibility: hidden;
	position: absolute;
	z-index: -1;
	
}
.section-wrapper{
	display: flex;
}
#card {
	background: #fff;
	max-width: 371px;
	width: 100%;
	transition: var(--transition);
	padding: 0.5rem;
	border-radius: 12px 12px 12px 12px;
}
.card:hover {
	transform: translateY(-10px);
	box-shadow: var(--shadow);
}
.card-img {
	width: 100%;
	display: block;
}
.right_side {
	display: flex;
	gap: 24px;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-left: 2rem;
	margin-top: 2.5rem;
}
.card-title{
	font-size: 20px;
	padding: 0.5rem 0;
	color: #000;
}
.card-des {
	margin: 0;
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.params{
	color: #666;
	font-size: 16px;
}

#delet-button{
	padding: 0.5rem 1rem;
	font-size: 16px;
	background-color: #5D2784;
	border-radius: 12px;
	font-weight: 500;
	color: #EAE0CC;
	transition: all 0.5s ease-in-out;

}
#delet-button:hover{
	padding: 0.5rem 1rem;
	font-size: 16px;
	background-color: red;
	border-radius: 12px;
	font-weight: 500;
	color: #EAE0CC;
}
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff9e;
	padding: 20px 0;
}
.footer a{
	color: #ffffff9e;
}